{% extends "base.html" %}
{% load static %}

{% block title %}Информация по категориям{% endblock %}

{% block main_content %}
  <h1>Категории и числа</h1>
  <ul>
  {% for cat, count in category.items %}
    <a href={% url "tasks:list_by_cat" cat.slug %}><span class="badge badge-info">{{ cat.name }}: {{ count }}</span></a>
  {% empty %}
    <li>Список задач по категориям пуст. Попробуйте добавить их из админки</li>
  {% endfor %}
  </ul>
    <h2>Приоритеты</h2>
{#    {% for pri in priority %}#}
{#        {% if pri.name == "Высокий приоритет" %}#}
{#    {% for pri, count in priority.items %}#}
{#        {{ pri }} {{ count }}#}
{#        {% if pri == "Высокий приоритет" %}#}
{#            <span class="badge badge-danger">{{ pri.name }}: {{ pri.priority_count }}</span>#}
{#        {% elif pri.name == "Средний приоритет" %}#}
{#            <span class="badge badge-secondary">{{ pri.name }}: {{ pri.priority_count }}</span>#}
{#        {% elif pri.name == "Низкий приоритет" %}#}
{#            <span class="badge badge-success">{{ pri.name }}: {{ pri.priority_count }}</span>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{% endblock %}
