{% extends "base.html" %}
{% load static %}

{% block title %}Задачи{% endblock %}

{% block main_content %}
  <h1>Текущие задачи</h1>
    <ul class="list-inline">
    {% for cat in categories %}
      <li class="list-inline-item">
        <span class="badge badge-info">{{ cat.name }}</span>
      </li>
      <ul id="todo-list" class="list-unstyled ml-3">

      {% for id_cat in trough %}
          {% if id_cat.category_id == cat.id %}

              {% for task in tasks %}
                  {% if task.id == id_cat.todoitem_id %}
                    {% if task.is_completed %}
                    <li class="completed">
                      <input class='checkbox' data-uid={{ task.id }} type='checkbox' disabled='disabled' checked='checked'/>
                    {% endif %}
                    {% if task.priority.name == "Высокий приоритет" %}
                      <span class="badge badge-pill badge-danger">&nbsp;</span>
                    {% elif task.priority.name == "Средний приоритет" %}
                      <span class="badge badge-pill badge-secondary">&nbsp;</span>
                    {% elif task.priority.name == "Низкий приоритет" %}
                      <span class="badge badge-pill badge-success">&nbsp;</span>
                    {% endif %}
                      <a href={% url "tasks:details" task.id %}>{{ task.description }}</a>
                      <hr/>
                    </li>
                  {% endif %}
              {% endfor %}

          {% endif %}
      {% endfor %}

      </ul>
    {% endfor %}
    </ul>
{% endblock %}
